<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sseedit" value="Missing SSEEdit Path"/>
    <add key="profilesfolder" value=".\Profiles\"/>
    <add key="resourcesfolder" value=".\Resources\"/>
    <add key="debugmode" value="1"/>
  </appSettings>
</configuration>